<div class="s-overlay--add-collection">

    <div class="m-add-collection">

        <div class="close">
            <button class="close">Close</button>
        </div>

        <div class="wrap">

            <h1>Create collection</h1>

            <form class="form--chunky">

                <div class="form-group">
                    <label>Name</label>
                    <input type="text" placeholder=""/>

                </div>

                <div class="form-group">
                    <label>Description</label>
                    <textarea rows="10" placeholder=""></textarea>
                </div>

                <div class="form-group form-group--checkboxes-columns">

                    <span class="label">Ownership</span>
                    <label>
                        <input type="radio" checked="checked" />
                        <span>Public</span>
                        <span class="helper-text">Anyone can edit.</span>
                    </label>
                    <label>
                        <input type="radio"/>
                        <span>Personal</span>
                        <span class="helper-text">Only you can edit.</span>
                    </label>
                    <label>
                        <input type="radio"/>
                        <span>Team</span>
                        <span class="helper-text">Anyone in the team can edit.</span>
                        <div class="form-group">
                            <select placeholder="Team">
                                <option>Team One</option>
                                <option>Team Two</option>
                                <option>Team Three</option>
                            </select>
                        </div>
                    </label>

                </div>

                <input type="submit" value="Save"/>

            </form>

        </div>

    </div>

</div>