<div class="s-overlay--layers">

    <div class="close">
        <button class="close">Close</button>
    </div>


    <div class="m-layers-picker">

        <div class="wrap">

            <div class="header">
                <h1>Layers</h1>
                <p>Activate the following layers on the map</p>
                <!--<input type="text" placeholder="search">-->
            </div>

            <div class="layers">
                <div class="layer">
                    <a href="#">
                        <div class="image"></div>
                        <h2>Roque map</h2>
                        <p>Pellentesque ac velit nec elit gravida aliquet sed ut nisi. Nulla efficitur odio quam, quis
                            ultricies libero laoreet.</p>
                        <button><span>Select</span></button>
                    </a>
                </div>
                <div class="layer">
                    <a href="#">
                        <div class="image"></div>
                        <h2>Morgan map</h2>
                        <p>Pellentesque ac velit nec elit gravida aliquet sed ut nisi. Nulla efficitur odio quam, quis
                            ultricies libero laoreet.</p>
                        <button><span>Select</span></button>
                    </a>
                </div>
                <div class="layer">
                    <a href="#">
                        <div class="image"></div>
                        <h2>RAF photos</h2>
                        <p>Pellentesque ac velit nec elit gravida aliquet sed ut nisi. Nulla efficitur odio quam, quis
                            ultricies libero laoreet.</p>
                        <button><span>Select</span></button>
                    </a>
                </div>
                <div class="layer">
                    <a href="#">
                        <div class="image"></div>
                        <h2>Satellite imagery</h2>
                        <p>Pellentesque ac velit nec elit gravida aliquet sed ut nisi. Nulla efficitur odio quam, quis
                            ultricies libero laoreet.</p>
                        <button><span>Select</span></button>
                    </a>
                </div>
                <div class="layer">
                    <a href="#">
                        <div class="image"></div>
                        <h2>Williams Survey map</h2>
                        <p>Pellentesque ac velit nec elit gravida aliquet sed ut nisi. Nulla efficitur odio quam, quis
                            ultricies libero laoreet.</p>
                        <button><span>Select</span></button>
                    </a>
                </div>
                <div class="layer">
                    <a href="#">
                        <div class="image"></div>
                        <h2>Samson map</h2>
                        <p>Pellentesque ac velit nec elit gravida aliquet sed ut nisi. Nulla efficitur odio quam, quis
                            ultricies libero laoreet.</p>
                        <button><span>Select</span></button>
                    </a>
                </div>
            </div>

            <button>Done</button>

        </div>

    </div>

</div>