<div class="s-overlay--add">

    <div class="wrap">

        <h1>Add</h1>

        <div class="form-group">
            <input type="text" placeholder="Enter a place or topic…"/>
            <input type="submit" value="Search"/>
        </div>

        <div class="form-group">
            <span class="helper-text">Find records including:</span>
            <label>
                <input type="checkbox"/>
                <span>Images</span>
            </label>
            <label>
                <input type="checkbox"/>
                <span>Video</span>
            </label>
            <label>
                <input type="checkbox"/>
                <span>Audio</span>
            </label>
            <label>
                <input type="checkbox"/>
                <span>File uploads</span>
            </label>
        </div>

        <div class="form-group">
            <label>
                <input type="checkbox"/>
                <span>Search visible map area only</span>
            </label>
        </div>

    </div>

</div>