<div class="s-overlay--record">

    <div class="m-record">
        <div class="next">
            <button class="next">Next</button>
        </div>
        <div class="previous">
            <button class="previous">Previous</button>

        </div>
        <div class="close">
            <button class="close">Close</button>
        </div>
        <div class="actions">
            <button class="add-to-collection">Add to collection</button>
            <button class="contact-owner">Contact owner</button>
            <button class="flag">Flag</button>
            <button class="like">Like</button>
            <button class="edit">Edit</button>
        </div>
        <div class="wrap">

            <div class="m-social-status">
                173 views, 54 likes
            </div>
            <h1>Mary Seacole residence and plaque</h1>
            <div class="place">Place: Palace St, Westminster, London SW1E | 51.497275, -0.139333</div>
            <div class="m-record-hero">
                <div class="image"></div>
            </div>
            <div class="meta">
                <ul>
                    <li><h4>Relevant date:</h4> 1st Jan 1857</li>
                    <li><h4>Link:</h4> English Heritage</li>
                </ul>
            </div>
            <div class="m-article">

                <p>A small paragraph to show <em>emphasis</em> and <strong>important</strong> bits.</p>

                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                    Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit
                    <a href="#">amet quam egestas semper</a>. Aenean ultricies mi vitae est. Mauris placerat eleifend
                    leo.</p>

                <p>Curabitur at risus sed tellus tristique bibendum nec sed urna. Pellentesque habitant morbi tristique
                    senectus et netus et malesuada fames ac turpis egestas. Praesent malesuada aliquet quam quis
                    efficitur. Curabitur et quam sollicitudin neque varius laoreet. Aenean non condimentum libero,
                    convallis aliquam est. Suspendisse rhoncus consectetur posuere. Sed dapibus luctus sapien eget
                    varius. Nulla sed felis id risus iaculis mollis. Mauris pulvinar nisl vitae leo euismod, sit amet
                    viverra massa vehicula.</p>

                <h2>How to choose the right cake</h2>

                <p>Curabitur et quam sollicitudin neque varius quam quis efficitur laoreet. Aenean non condimentum
                    libero, convallis aliquam est. Suspendisse rhoncus consectetur posuere. Don't forget that:</p>

                <ul>
                    <li>Cakes are <i>all</i> delicious</li>
                    <li>Sponge cakes are readily available</li>
                    <li>If there weren't any cakes there would certainly be:
                        <ul>
                            <li>pastries</li>
                            <li>biscuits</li>
                            <li>sticky buns</li>
                            <li>or at the very least, fizzy drinks</li>
                        </ul>
                    </li>
                    <li>In an emergency, cakes could be airdropped</li>
                    <li>It's all academic, here comes the cake trolley</li>
                </ul>

                <h2>Icing is hard to resist</h2>

                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                    Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit
                    amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>

                <table>
                    <tr>
                        <th>Turkey sandwiches</th>
                        <th>Jam roly-polys</th>
                    </tr>
                    <tr>
                        <td>156</td>
                        <td>224</td>
                    </tr>
                    <tr>
                        <td>56</td>
                        <td>79</td>
                    </tr>
                    <tr>
                        <td>453</td>
                        <td>551</td>
                    </tr>
                    <tr>
                        <td>256</td>
                        <td>128</td>
                    </tr>
                </table>

                <p>Sed interdum, quam at iaculis condimentum, tortor lacus lobortis urna, at laoreet libero dui sed
                    velit. Quisque sodales tempor porttitor. Nullam neque libero, tincidunt nec blandit a, porta sed
                    justo. Duis in volutpat dolor, at congue sapien. Sed vitae molestie neque. Nunc sed ante ipsum. In
                    hac habitasse platea dictumst. Sed tellus lacus, pellentesque sit amet tempor sit amet.</p>

                <h3>Henry ate three doughnuts</h3>

                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                    Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit
                    amet quam egestas semper. Aenean <a href="#">ultricies mi vitae est</a>. Mauris placerat eleifend
                    leo.</p>

                <p>Ut ullamcorper posuere luctus. Morbi at ex condimentum, pellentesque libero et, imperdiet mi. Nullam
                    iaculis metus sit amet augue sodales, vel vehicula elit luctus. Pellentesque habitant morbi
                    tristique senectus et netus et <strong>malesuada fames ac turpis</strong> egestas. Maecenas
                    consectetur leo quis arcu semper gravida. Duis volutpat lorem ac lorem consectetur luctus. Morbi
                    mollis tristique lorem, nec iaculis ipsum volutpat eget. Praesent ut pharetra enim. Cras euismod
                    massa nisl, ut condimentum ligula bibendum non. Cras vitae ultrices eros. Morbi turpis nulla,
                    sodales sed vulputate id, sagittis non nisi. Suspendisse ut ultricies tellus, at egestas dolor.</p>

                <p>Also, let's consider <strong>ordered lists</strong>:</p>

                <ol>
                    <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                    <li>Aliquam tincidunt mauris eu risus.
                        <ol>
                            <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                            <li>Aliquam tincidunt mauris eu risus.</li>
                        </ol>
                    </li>
                    <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                    <li>Aliquam tincidunt mauris eu risus.</li>
                </ol>

                <p>Curabitur at risus sed tellus tristique bibendum nec sed urna. Pellentesque habitant morbi tristique
                    senectus et netus et malesuada fames ac turpis egestas. Praesent malesuada aliquet quam quis
                    efficitur. Curabitur et quam <a href="#">sollicitudin</a> neque varius laoreet. Aenean non
                    condimentum libero, convallis aliquam est. Suspendisse rhoncus consectetur posuere. Sed dapibus
                    luctus sapien eget varius. Nulla sed felis id risus iaculis mollis. Mauris pulvinar nisl vitae leo
                    euismod, sit amet viverra massa vehicula.</p>

                <p>Morbi sit amet neque nulla. Phasellus sed urna felis. Aliquam non metus ante. Quisque sed sapien
                    egestas, ornare est vel, ullamcorper est. Sed orci diam, maximus quis erat tristique, pharetra
                    hendrerit ipsum. <strong>Pellentesque efficitur eros diam.</strong> Interdum et malesuada fames ac
                    ante ipsum primis in faucibus. Sed laoreet sapien euismod, interdum sapien vitae, aliquam neque.
                    Cras lorem nisi, bibendum semper egestas scelerisque, posuere vitae lectus.</p>

                <blockquote>
                    <p>“Ooh - a blockquote! Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras
                        in mi at felis aliquet congue. Ut a est eget ligula molestie gravida. Curabitur massa. Donec
                        eleifend, libero at sagittis mollis, tellus est malesuada tellus, at luctus turpis elit sit amet
                        quam. Vivamus pretium ornare est.”</p></blockquote>

                <h4>For hardcore cakeheads only</h4>

                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                    Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit
                    amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>

                <h5>High fives for tiffin!</h5>

                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                    Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit
                    amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                <!--
                            <dl>
                                <dt>Definition list</dt>
                                <dd>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                    commodo consequat.
                                </dd>
                                <dt>Lorem ipsum dolor sit amet</dt>
                                <dd>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                    commodo consequat.
                                </dd>
                            </dl> -->

                <h6>Half a dozen currant buns</h6>

                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                    Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit
                    amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>

                <p>Morbi sit amet neque nulla. Phasellus sed urna felis. Aliquam non metus ante. Quisque sed sapien
                    egestas, ornare est vel, ullamcorper est. Sed orci diam, maximus quis erat tristique, pharetra
                    hendrerit ipsum. <strong>Pellentesque efficitur eros diam.</strong> Interdum et malesuada fames ac
                    ante ipsum primis in faucibus. Sed laoreet sapien euismod, interdum sapien vitae, aliquam neque.
                    Cras lorem nisi, bibendum semper egestas scelerisque, posuere vitae lectus.</p>
            </div>
            <div class="attribution">
                <ul>
                    <li><h4>Created:</h4> 22nd June 2017</li>
                    <li><h4>Credits:</h4> Curabitur eu euismod risus</li>
                </ul>
            </div>

        </div>

    </div>

</div>