<div class="s-overlay--layers is-showing">

    <div class="close">
        <button class="close">Close</button>
    </div>

    <div class="wrap">

        <div class="m-layers-picker">

            <div class="header">
                <h1>Layers</h1>
                <p>Activate the following layers on the map</p>
                <!--<input type="text" placeholder="search">-->
            </div>

            <div class="layers">
                <div class="layer">
                    <div class="image"></div>
                    <h2>Morgan map</h2>
                    <p>Pellentesque ac velit nec elit gravida aliquet sed ut nisi. Nulla efficitur odio quam, quis ultricies libero laoreet.</p>
                    <button><span>Select</span></button>
                </div>
                <div class="layer">
                    <div class="image"></div>
                    <h2>Morgan map</h2>
                    <p>Pellentesque ac velit nec elit gravida aliquet sed ut nisi. Nulla efficitur odio quam, quis ultricies libero laoreet.</p>
                    <button><span>Select</span></button>
                </div>
                <div class="layer">
                    <div class="image"></div>
                    <h2>Morgan map</h2>
                    <p>Pellentesque ac velit nec elit gravida aliquet sed ut nisi. Nulla efficitur odio quam, quis ultricies libero laoreet.</p>
                    <button><span>Select</span></button>
                </div>
                <div class="layer">
                    <div class="image"></div>
                    <h2>Morgan map</h2>
                    <p>Pellentesque ac velit nec elit gravida aliquet sed ut nisi. Nulla efficitur odio quam, quis ultricies libero laoreet.</p>
                    <button><span>Select</span></button>
                </div>
                <div class="layer">
                    <div class="image"></div>
                    <h2>Morgan map</h2>
                    <p>Pellentesque ac velit nec elit gravida aliquet sed ut nisi. Nulla efficitur odio quam, quis ultricies libero laoreet.</p>
                    <button><span>Select</span></button>
                </div>
                <div class="layer">
                    <div class="image"></div>
                    <h2>Morgan map</h2>
                    <p>Pellentesque ac velit nec elit gravida aliquet sed ut nisi. Nulla efficitur odio quam, quis ultricies libero laoreet.</p>
                    <button><span>Select</span></button>
                </div>
            </div>

            <button>Done</button>

        </div>

    </div>

</div>