<div class="s-overlay--refine">

    <div class="close">
        <button class="close">Close</button>
    </div>

    <div class="wrap">

        <div class="m-refine">

            <h1>Refine</h1>

            <div class="form-group form-group--checklist">
                <h2>Type</h2>
                <label>
                    <input type="checkbox" checked="checked"/>
                    <span>Places</span>
                </label>
                <label>
                    <input type="checkbox" />
                    <span>People</span>
                </label>
                <label>
                    <input type="checkbox" />
                    <span>Items</span>
                </label>
                <label>
                    <input type="checkbox" />
                    <span>Events</span>
                </label>
            </div>

            <div class="form-group form-group--checklist">
                <h2>Theme</h2>
                <label>
                    <input type="checkbox" />
                    <span>Political & government</span>
                </label>
                <label>
                    <input type="checkbox" />
                    <span>Social & health</span>
                </label>
                <label>
                    <input type="checkbox" />
                    <span>Education</span>
                </label>
                <label>
                    <input type="checkbox" checked="checked"/>
                    <span>Industry & commerce</span>
                </label>
                <label>
                    <input type="checkbox" />
                    <span>Religion & worship</span>
                </label>
                <label>
                    <input type="checkbox" />
                    <span>Transport</span>
                </label>
                <label>
                    <input type="checkbox" checked="checked"/>
                    <span>War & conflict</span>
                </label>
            </div>

        </div>

    </div>

</div>