<div class="s-overlay--your-account--teams">

    <div class="close">
        <button class="close">Close</button>
    </div>

    <%= render "shared/overlay-subnavigation" %>

    <div class="m-account-page">

        <div class="wrap">

            <!--<h1>Teams</h1>-->

            <div class="section">
                <h2>Your teams</h2>
                <ul>
                    <li><a href="#" class="teamlink-owner">Basingstoke Historical Society</a><span class="ownership-indicator">Owner</span>
                    </li>
                    <!--<li><a href="#" class="teamlink-owner">Mrs. Clark’s History Class</a><span class="ownership-indicator">Owner</span></li>-->
                    <li><a href="#" class="teamlink-member">Highbrook School</a></li>
                    <!--<li><a href="#" class="teamlink-member">Battersea Community Centre</a></li>-->
                </ul>
            </div>

            <div class="section">
                <h2>Join a team</h2>
                <form class="form--chunky">

                    <div class="form-group">
                        <label>Search for a team</label>
                        <input type="text" placeholder="" value="Name"/>
                    </div>

                    <input type="submit" value="Request to join"/>

                </form>
            </div>

            <div class="section">
                <h2>Create a new team</h2>

                <form class="form--chunky">

                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" placeholder="" value="Name"/>
                    </div>

                    <p class="helper-text">Team members can create and contribute to team collections, and they can allow their records to be editable by the whole team.</p>

              <!--      <div class="form-group form-group&#45;&#45;checkboxes-columns">

                        <label>
                            <input type="radio" name="team-type" checked="checked"/>
                            <span>Open team</span>
                            <span class="helper-text">
                                Users can leave.<br />
                                Users can add/remove/create collections.<br />
                                Users can invite other users.
                            </span>
                        </label>
                        <label>
                            <input type="radio" name="team-type" />
                            <span>Managed team</span>
                            <span class="helper-text">
                                Users can’t leave.<br />
                                Users cannot add/remove/create collections.<br />
                                Users cannot invite other users.
                            </span>
                        </label>

                    </div>-->

                    <input type="submit" value="Create team"/>

                </form>

            </div>


        </div>

    </div>

</div>