<div class="s-overlay--date-range">

    <div class="close">
        <button class="close">Close</button>
    </div>

    <div class="wrap">

        <div class="m-date-range-overlay">

            <div class="header">
                <h1>Date range</h1>
                <p>Show results in the highlighted range</p>
                <button>Done</button>
            </div>

            <ul class="eras">
                <li>21st Century (2000-)</li>
                <li>Post World War II (1945-1999)</li>
                <li>Interwar (1918-1939)</li>
                <li>World War I (1914-1918)</li>
                <li>Edwardian (1901-1914)</li>
                <li>Victorian (1837-1901)</li>
                <li>Hanoverian (1714-1837)</li>
                <li>Stuart (1603-1714)</li>
                <li>Elizabethan (1558-1603)</li>
                <li>Tudor (1485-1603)</li>
                <li>Late Medieval (1398-1485)</li>
                <li>High Medieval (1216-1398)</li>
                <li>Early Medieval (AD410-1216)
            </ul>

        </div>

    </div>

</div>