<div class="s-tray-area--introduction">

    <div class="m-tray-title-area">
        <h1>Layers of London</h1>
    </div>

    <div class="m-onboard-intro">

        <div class="blurb">
            <p>Donec vel viverra massa, a mattis libero. Donec nec augue vel dui ultricies feugiat quis quis purus.</p>
            <p>Nulla posuere tempor ex non gravida. Sed ac rutrum nisi. Nullam scelerisque euismod dictum. Maecenas lobortis, tellus mollis eleifend fermentum, ante dolor tempus nisl, sed placerat ipsum neque ac diam.</p>
        </div>

    </div>

    <div class="m-example-searches">

        <h2>Example searches</h2>

        <div class="example-search">
            <a href="#">
                <div class="image random-image"></div>
                <div class="text-content">
                    <h3>Brixton archways</h3>
                    <span class="details"><strong>Stuart</strong> to <strong>Interwar</strong></span>
                    <p>Using the Rocque map layer. Fusce auctor condimentum venenatis. Phasellus pulvinar egestas
                        ultricies. Nulla facilisi. In mattis odio eget dictum fermentum. Sed metus odio,
                        ullamcorper.</p>
                </div>
            </a>
        </div>

        <div class="example-search">
            <a href="#">
                <div class="image random-image"></div>
                <div class="text-content">
                    <h3>Pubs of Lewisham</h3>
                    <span class="details"><strong>Stuart</strong> to <strong>Interwar</strong></span>
                    <p>Using the Rocque map layer. Fusce auctor condimentum venenatis. Phasellus pulvinar egestas
                        ultricies. Nulla facilisi. In mattis odio eget dictum fermentum. Sed metus odio,
                        ullamcorper.</p>
                </div>
            </a>
        </div>

        <div class="example-search">
            <a href="#">
                <div class="image random-image"></div>
                <div class="text-content">
                    <h3>Churches in 17th century that exist today</h3>
                    <span class="details"><strong>Stuart</strong> to <strong>Interwar</strong></span>
                    <p>Using the Rocque map layer. Fusce auctor condimentum venenatis. Phasellus pulvinar egestas
                        ultricies. Nulla facilisi. In mattis odio eget dictum fermentum. Sed metus odio,
                        ullamcorper.</p>
                </div>
            </a>
        </div>

        <div class="example-search">
            <a href="#">
                <div class="image random-image"></div>
                <div class="text-content">
                    <h3>Brixton archways</h3>
                    <span class="details"><strong>Stuart</strong> to <strong>Interwar</strong></span>
                    <p>Using the Rocque map layer. Fusce auctor condimentum venenatis. Phasellus pulvinar egestas
                        ultricies. Nulla facilisi. In mattis odio eget dictum fermentum. Sed metus odio,
                        ullamcorper.</p>
                </div>
            </a>
        </div>

        <div class="example-search">
            <a href="#">
                <div class="image random-image"></div>
                <div class="text-content">
                    <h3>Pubs of Lewisham</h3>
                    <span class="details"><strong>Stuart</strong> to <strong>Interwar</strong></span>
                    <p>Using the Rocque map layer. Fusce auctor condimentum venenatis. Phasellus pulvinar egestas
                        ultricies. Nulla facilisi. In mattis odio eget dictum fermentum. Sed metus odio,
                        ullamcorper.</p>
                </div>
            </a>
        </div>

        <div class="example-search">
            <a href="#">
                <div class="image random-image"></div>
                <div class="text-content">
                    <h3>Churches in 17th century that exist today</h3>
                    <span class="details"><strong>Stuart</strong> to <strong>Interwar</strong></span>
                    <p>Using the Rocque map layer. Fusce auctor condimentum venenatis. Phasellus pulvinar egestas
                        ultricies. Nulla facilisi. In mattis odio eget dictum fermentum. Sed metus odio,
                        ullamcorper.</p>
                </div>
            </a>
        </div>

    </div>

</div>