<div class="">
  <h3>List Component</h3>

  <ul>
    <%= render "list_item", content: "Hello 1" %>
    <%= render "list_item", content: "Hello 2" %>
    <%= render "list_item", content: "Hello 3" %>
    <%= render "list_item", content: "Hello 4" %>
  </ul>
</div>
