<ul>
  <% Dir.glob(File.join(Rails.root, 'app', 'views', 'layouts', 'templates', '*.html.erb')).each do |template| %>
    <li>
      <%= link_to File.basename(template), page_path(File.basename(template).split(".").first) %>
    </li>
  <% end %>
</ul>
